  
   div {
    text-align: center;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    border: 1px solid black;
  }
  
  li {
    float: left;
    border-right: 1px solid black;
    width: 33.25%;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightgrey;
  }
  
  .active {
    background-color: lightcyan;
  }
  
  